# Node
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/dist/
/*.log
*.log

# Vite
.vite/
.vite-temp/
*.local
vite.svg

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Env files
.env
.env.*.local
.env.local

# OS/macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Editors/IDEs
.vscode/
.history/
.idea/
*.swp
*.swo

# Misc
*.pid
*.seed
*.pid.lock

# Production assets built by Vite
/public/assets/

# Lockfiles backups
package-lock.json.*
yarn.lock.*
pnpm-lock.yaml.*
